set commentary

set is hls ic "increment search, highlight search, ignore case
set scrolloff=6

if has('persistent_undo')
  set undofile
  set undodir=$HOME/.vim/undo
  set undolevels=5000
endif

" Previous/Next tab
map <tab> gt
map <S-tab> gT

" stop highlighting
nmap <C-n> :noh<CR>

" quick close
nmap <C-w> :wq<CR>

" paste from or replace with clipboard
nnoremap S viw"*p
" for linux or mac
" nnoremap S viw"0p

