set is hls ic " increment search, highlight search, ignore case
set nu nocp " number, nocompatible
set mouse=a scrolloff=6

if has('persistent_undo')
  set undofile
  set undodir=$HOME/.vim/undo
  set undolevels=5000
endif

" Previous/next tab
map <tab> gt
map <S-tab> gT

" Stop highlighting
nmap <C-n> :noh<CR>

" Quick close
nmap <C-w> :wq<CR>

" Copy
vmap <C-c> "*y

" Replace word with clipboard
nnoremap S viw"*p
" For linux or mac
" nnoremap S viw"0p
