set is hls ic " increment search, highlight search, ignore case
set nu nocp " number, nocompatible
set mouse=a scrolloff=6

if has('persistent_undo')
  set undofile
  set undodir=$HOME/.vim/undo
  set undolevels=5000
endif

" Previous/Next tab
map <tab> gt
map <S-tab> gT

nmap <C-n> :noh<CR> " stop highlighting

nmap <C-w> :wq<CR> " quick close

nnoremap S viw"*p " paste from or replace with clipboard
" for linux or mac
" nnoremap S viw"0p

